version: '3.8'

services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "8000:8000"
    environment:
      - AUTH_SERVICE_URL=http://auth_service:8001
      - PRODUCT_SERVICE_URL=http://product-service:8002
      - ORDER_SERVICE_URL=http://order-service:8003
    depends_on:
      - auth-service        
      - product-service
      - order-service

  auth-service:
    build: ./auth-service
    ports:
      - "8001:8001"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgres-auth:5432/auth_db
      - REDIS_URL=redis://redis:6379/0

    depends_on:
      - postgres-auth
      - redis

  product-service:
    build: ./product-service
    ports:
      - "8002:8002"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgres-product:5432/product_db
      - REDIS_URL=redis://redis:6379/1
    depends_on:
      - postgres-product
      - redis

  order-service:
    build: ./order-service 
    ports:
      - "8003:8003"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgres-order:5432/order_db
      - REDIS_URL=redis://redis:6379/2
    depends_on:
      - postgres-order
      - redis

  postgres-auth:
    image: postgres:15
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=auth_db
    volumes:
      - postgres_auth_data:/var/lib/postgresql/data

  postgres-product:
    image: postgres:15
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=product_db
    volumes:
      - postgres_product_data:/var/lib/postgresql/data


  postgres-order:
    image: postgres:15
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=order_db
    volumes:
      - postgres_order_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  postgres_auth_data:
  postgres_product_data:
  postgres_order_data:

