apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.authService.replicas }}
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      imagePullSecrets:
        - name: acr-secret
      containers:
        - name: auth-service
          image: {{ .Values.authService.image }}
          ports:
            - containerPort: 8001
          resources:
            {{- toYaml .Values.authService.resources | nindent 12 }}
          env:
            - name: SQLALCHEMY_DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: auth-secrets
                  key: SQLALCHEMY_DATABASE_URL
            - name: REDIS_URL
              value: {{ .Values.authService.env.REDIS_URL | quote }}
          livenessProbe:
            httpGet:
              path: /health
              port: 8001
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /ready
              port: 8001
            initialDelaySeconds: 5
            periodSeconds: 10 